/* Custom CSS Styles for Reveal Presentation
 *********************************************/

.reveal h1 em,
.reveal h2 em,
.reveal h3 em,
.reveal h4 em,
.reveal h5 em,
.reveal h6 em {
  font-style: normal;
}

.reveal em {
  opacity: 0.7;
}

.reveal small {
  /*display: inline;*/
  font-size: 0.7em;
  /*line-height: 1.1em;*/
  opacity: 0.8;
  vertical-align: baseline;
}
.reveal small * {
  vertical-align: baseline;
}

.reveal pre {
  /*margin: 0.5em;*/
}
.reveal pre code {
  padding: 0.5em;
}

.reveal iframe {
  border-radius: 0.3em;
  border: solid 2px #333;
}





.reveal .barList {
  margin: 0;
 }
.reveal .barList li {
  display: inline-block;
  padding: 0 0.6em 0 0.4em;
  border-right: solid 1px #CCC;
  list-style-type: none;
 }
.reveal .barList li:last-child { border: none; }

.reveal .lightText {
   color: white;
 }


