/* Custom CSS Styles for Reveal Presentation
 *********************************************/


/* BASICS */

.reveal h1 em,
.reveal h2 em,
.reveal h3 em,
.reveal h4 em,
.reveal h5 em,
.reveal h6 em {
  font-style: normal;
}

.reveal a {
  border-bottom: solid 1px #e0d3ba;
}

.reveal em {
  opacity: 0.7;
}

.reveal small {
  /*display: inline;*/
  font-size: 0.7em;
  /*line-height: 1.1em;*/
  opacity: 0.8;
  /*vertical-align: baseline;*/
}
.reveal small * {
  vertical-align: baseline;
}

.reveal pre {
  /*margin: 0.5em;*/
}
.reveal pre code {
  padding: 0.5em;
}

.reveal code {
  display: inline-block;
  padding: 0.1em;
  border-radius: 0.2em;
  background: #f7f0e1; 
  color: #664e1a;
}

.reveal iframe {
  border-radius: 0.3em;
  border: solid 2px #333;
}

::selection {
  color: white;
  background: turquoise;
  text-shadow: none; 
}

.reveal sup {
  font-size: 70% !important;
  vertical-align: super !important;
}
.reveal sub {
  font-size: 70% !important;
  vertical-align: sub !important;
}



/* CUSTOM */

.reveal .barList {
  margin: 0;
 }
.reveal .barList li {
  display: inline-block;
  padding: 0 0.6em 0 0.4em;
  border-right: solid 1px #CCC;
  list-style-type: none;
 }
.reveal .barList li:last-child { border: none; }

.reveal .lightText {
   color: white;
 }

 .reveal .column {
  box-sizing: border-box;
  float: left;
  width: 18%;
  margin: 0 2% 0 0;
  height: 300px;
  font-size: 0.5em;
  color: darkred;
 }
.reveal .column li {
  list-style-type: none;
}
.reveal .column li.endbit {
  padding-bottom: 0.5em;
  margin-bottom: 0.5em;
  border-bottom: dotted 1px rgba(136,0,0,0.1);
}


 .reveal .browser {
  display: inline-block;
  vertical-align: middle;
  width: 1.5em;
  height: 1.5em;
  border: none; 
  background: none;
  box-shadow: none;
 }

 .reveal .special {
   color: darkred;
 }





/* EXAMPLES */
.input {
  box-sizing: border-box;
  display: inline-block;
  height: 2em;
  margin: 0 0.8em 0.3em;
  padding: 0.2em 0.4em;
  background: white;
  border: 2px solid grey;
  border-radius: 0.3em;
  font-size: 1em;
  box-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  transition: all 0.2s;
  vertical-align: middle;
}
.input.small {
  /*padding: 0.1em 0.2em;*/
  font-size: 0.8em;
}
.input:hover { 
  border-color: skyblue;
  /*box-shadow: inset 0px 0px 6px skyblue;*/
}
.input:focus {
  border-color: skyblue;
  border-width: 0.18em;
  outline: 0;
  /*box-shadow: none;*/
}
.input::-webkit-input-placeholder {
   color: lightgrey;
}
.input.validate:valid {
  color: #00cc00;
  border-color: #00cc00;
  background: #f5fff5
}
.input.validate:valid::-webkit-input-placeholder {
  color: #b8dbb8
}
.input.validate:invalid {
  color: #ad102f;
  border-color: #ad102f;
  background: #fde8ec;
}
.input.validate:invalid::-webkit-input-placeholder {
  color: #ea9dab;
}